.cta_container{
  position: relative;
  margin: 26px 30px;
  float: right;
}
.cta_text a{
  font-family: 'Open Sans', serif;
  font-weight: 600;
  font-size: 12px;
  display: inline-block;
  color: #003262;
  padding: 16px 25px;
  margin-left: 6px;
  display: inline-block;
  border: 1px solid #002141;
  transition: .35s all ease;
}
.cta_text a:hover{
  color: white;
  display: inline-block;
  background-color: #003262;
}
figure.image1:hover,
figure.image2:hover,
figure.image3:hover,
figure.image4:hover,
figure.image5:hover,
figure.image6:hover {
  cursor: url('../images/plus.svg'), auto;
}

/**************/

figure.image1 figcaption::before{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.65);
  content: '';
  opacity: 0;
  transition: transform 0.35s, color 0.35s;
}
figure.image1 h4{
  position: absolute;
  bottom: 115px;
  left: 25px;
  width: 100%;
  content: '';
  opacity: 0;
  transition: transform 0.35s, color 0.35s;
  transform: translate3d(0,10px,0);
}
figure.image1 h5{
  position: absolute;
  bottom: 95px;
  left: 25px;
  width: 100%;
  opacity: 0;
  transition: transform 0.35s, color 0.35s;
  transform: translate3d(0,10px,0);
}
figure.image1 h6 {
  position: absolute;
  bottom: 25px;
  left: 25px;
  width: 100%;
  opacity: 0;
  transition: transform 0.35s, color 0.35s;
  transform: translate3d(0,10px,0);
}
figure.image1 figcaption::before{
  opacity: 0;
  transition: opacity 0.35s, transform 0.35s;
}
figure.image1:hover figcaption::before{
  opacity: 1;
  transition: opacity 0.35s, transform 0.35s;
}
figure.image1 h4, 
figure.image1 h5,
figure.image1 h6 {
  opacity: 0;
  transform: translate3d(0,10px,0);
  transition: opacity 0.35s, transform 0.35s;
}
figure.image1:hover h4, 
figure.image1:hover h5,
figure.image1:hover h6 {
  opacity: 1;
  transform: translate3d(0,0,0);
  transition: opacity 0.35s, transform 0.35s;
}

/**************/

figure.image2 figcaption::before{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
    background-color: rgba(0, 0, 0, 0.65);
  content: '';
  opacity: 0;
  transition: transform 0.35s, color 0.35s;
}
figure.image2 h4{
  position: absolute;
  bottom: 125px;
  left: 25px;
  width: 100%;
  content: '';
  opacity: 0;
  transition: transform 0.35s, color 0.35s;
  transform: translate3d(0,10px,0);
}
figure.image2 h5{
  position: absolute;
  bottom: 105px;
  left: 25px;
  width: 100%;
  opacity: 0;
  transition: transform 0.35s, color 0.35s;
  transform: translate3d(0,10px,0);
}
figure.image2 h6 {
  position: absolute;
  bottom: 35px;
  left: 25px;
  width: 100%;
  opacity: 0;
  transition: transform 0.35s, color 0.35s;
  transform: translate3d(0,10px,0);
}
figure.image2 figcaption::before{
  opacity: 0;
  transition: opacity 0.35s, transform 0.35s;
}
figure.image2:hover figcaption::before{
  opacity: 1;
  transition: opacity 0.35s, transform 0.35s;
}
figure.image2 h4, 
figure.image2 h5,
figure.image2 h6 {
  opacity: 0;
  transform: translate3d(0,10px,0);
  transition: opacity 0.35s, transform 0.35s;
}
figure.image2:hover h4, 
figure.image2:hover h5,
figure.image2:hover h6 {
  opacity: 1;
  transform: translate3d(0,0,0);
  transition: opacity 0.35s, transform 0.35s;
}

/**************/

figure.image3 figcaption::before{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.65);
  content: '';
  opacity: 0;
  transition: transform 0.35s, color 0.35s;
}
figure.image3 h4{
  position: absolute;
  bottom: 115px;
  left: 25px;
  width: 100%;
  content: '';
  opacity: 0;
  transition: transform 0.35s, color 0.35s;
  transform: translate3d(0,10px,0);
}
figure.image3 h5{
  position: absolute;
  bottom: 95px;
  left: 25px;
  width: 100%;
  opacity: 0;
  transition: transform 0.35s, color 0.35s;
  transform: translate3d(0,10px,0);
}
figure.image3 h6 {
  position: absolute;
  bottom: 25px;
  left: 25px;
  width: 100%;
  opacity: 0;
  transition: transform 0.35s, color 0.35s;
  transform: translate3d(0,10px,0);
}
figure.image3 figcaption::before{
  opacity: 0;
  transition: opacity 0.35s, transform 0.35s;
}
figure.image3:hover figcaption::before{
  opacity: 1;
  transition: opacity 0.35s, transform 0.35s;
}
figure.image3 h4, 
figure.image3 h5,
figure.image3 h6 {
  opacity: 0;
  transform: translate3d(0,10px,0);
  transition: opacity 0.35s, transform 0.35s;
}
figure.image3:hover h4, 
figure.image3:hover h5,
figure.image3:hover h6 {
  opacity: 1;
  transform: translate3d(0,0,0);
  transition: opacity 0.35s, transform 0.35s;
}

/**************/

figure.image4 figcaption::before{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.65);
  content: '';
  opacity: 0;
  transition: transform 0.35s, color 0.35s;
}
figure.image4 h4{
  position: absolute;
  bottom: 115px;
  left: 25px;
  width: 100%;
  content: '';
  opacity: 0;
  transition: transform 0.35s, color 0.35s;
  transform: translate3d(0,10px,0);
}
figure.image4 h5{
  position: absolute;
  bottom: 95px;
  left: 25px;
  width: 100%;
  opacity: 0;
  transition: transform 0.35s, color 0.35s;
  transform: translate3d(0,10px,0);
}
figure.image4 h6 {
  position: absolute;
  bottom: 25px;
  left: 25px;
  width: 100%;
  opacity: 0;
  transition: transform 0.35s, color 0.35s;
  transform: translate3d(0,10px,0);
}
figure.image4 figcaption::before{
  opacity: 0;
  transition: opacity 0.35s, transform 0.35s;
}
figure.image4:hover figcaption::before{
  opacity: 1;
  transition: opacity 0.35s, transform 0.35s;
}
figure.image4 h4, 
figure.image4 h5,
figure.image4 h6 {
  opacity: 0;
  transform: translate3d(0,10px,0);
  transition: opacity 0.35s, transform 0.35s;
}
figure.image4:hover h4, 
figure.image4:hover h5,
figure.image4:hover h6 {
  opacity: 1;
  transform: translate3d(0,0,0);
  transition: opacity 0.35s, transform 0.35s;
}

/**************/

figure.image5 figcaption::before{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
    background-color: rgba(0, 0, 0, 0.65);
  content: '';
  opacity: 0;
  transition: transform 0.35s, color 0.35s;
}
figure.image5 h4{
  position: absolute;
  bottom: 125px;
  left: 25px;
  width: 100%;
  content: '';
  opacity: 0;
  transition: transform 0.35s, color 0.35s;
  transform: translate3d(0,10px,0);
}
figure.image5 h5{
  position: absolute;
  bottom: 105px;
  left: 25px;
  width: 100%;
  opacity: 0;
  transition: transform 0.35s, color 0.35s;
  transform: translate3d(0,10px,0);
}
figure.image5 h6 {
  position: absolute;
  bottom: 35px;
  left: 25px;
  width: 100%;
  opacity: 0;
  transition: transform 0.35s, color 0.35s;
  transform: translate3d(0,10px,0);
}
figure.image5 figcaption::before{
  opacity: 0;
  transition: opacity 0.35s, transform 0.35s;
}
figure.image5:hover figcaption::before{
  opacity: 1;
  transition: opacity 0.35s, transform 0.35s;
}
figure.image5 h4, 
figure.image5 h5,
figure.image5 h6 {
  opacity: 0;
  transform: translate3d(0,10px,0);
  transition: opacity 0.35s, transform 0.35s;
}
figure.image5:hover h4, 
figure.image5:hover h5,
figure.image5:hover h6 {
  opacity: 1;
  transform: translate3d(0,0,0);
  transition: opacity 0.35s, transform 0.35s;
}

/**************/

figure.image6 figcaption::before{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.65);
  content: '';
  opacity: 0;
  transition: transform 0.35s, color 0.35s;
}
figure.image6 h4{
  position: absolute;
  bottom: 115px;
  left: 25px;
  width: 100%;
  content: '';
  opacity: 0;
  transition: transform 0.35s, color 0.35s;
  transform: translate3d(0,10px,0);
}
figure.image6 h5{
  position: absolute;
  bottom: 95px;
  left: 25px;
  width: 100%;
  opacity: 0;
  transition: transform 0.35s, color 0.35s;
  transform: translate3d(0,10px,0);
}
figure.image6 h6 {
  position: absolute;
  bottom: 25px;
  left: 25px;
  width: 100%;
  opacity: 0;
  transition: transform 0.35s, color 0.35s;
  transform: translate3d(0,10px,0);
}
figure.image6 figcaption::before{
  opacity: 0;
  transition: opacity 0.35s, transform 0.35s;
}
figure.image6:hover figcaption::before{
  opacity: 1;
  transition: opacity 0.35s, transform 0.35s;
}
figure.image6 h4, 
figure.image6 h5,
figure.image6 h6 {
  opacity: 0;
  transform: translate3d(0,10px,0);
  transition: opacity 0.35s, transform 0.35s;
}
figure.image6:hover h4, 
figure.image6:hover h5,
figure.image6:hover h6 {
  opacity: 1;
  transform: translate3d(0,0,0);
  transition: opacity 0.35s, transform 0.35s;
}