html,
body,
.hero {
  font-size: 14px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  height: 100%;
  width: 100%;
  text-overflow: hidden;
}
a {
  color: inherit;
}
a:link {
  text-decoration: none;
  color:inherit;
}
a:hover {
  text-decoration: none;
  color:inherit;
  border-bottom: none;
}
a:visited {
  text-decoration: none;
  color:inherit;
  border-bottom: none;
}
.hero{
/*  background-image: url("../images/hero_bg2.jpg");
  background-size: cover;*/
}
.menu{
  background-color: white;
  width:100%;
  height:100px;
  position: fixed;
  z-index: 2;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.35);
}
.logo{
  margin: 29px 0px 0px 32%;
  float: left;
}
.menu_icon{
  position: relative;
  margin: 40px 0px 10px 30px;
  float: left;
}
h3 {
  font-family: 'Open Sans', serif;
  font-weight: 600;
  font-size: 24px;
  display: inline-block;
  color: black;
}
h4 {
  font-family: 'Open Sans', serif;
  font-weight: 600;
  font-size: 21px;
  display: inline-block;
  color: white;
}
h5 {
  font-family: 'Open Sans', serif;
  font-weight: 600;
  font-size: 14px;
  display: inline-block;
  color: #FDB515;
  text-transform: uppercase;
}
h6 {
  font-family: 'Open Sans', serif;
  font-weight: 300;
  font-size: 13px;
  line-height: 17px;
  display: inline-block;
  color: white;
}

/****** HERO ******/

.hero_headline{
  position: absolute;
  bottom: 60px;
  left: 86px;
}
.image1{
  position: absolute;
  left: 0%;
  top: 177px;
}
.image2{
  position: absolute;
  left: 65%;
  top: 265px;
}
.image3{
  position: absolute;
  right: 0%;
  top: 620px;
}
.image4{
  position: absolute;
  left: 0%;
  top: 159px;
}
.image5{
  position: absolute;
  right: 13%;
  top: 240px;
}
.image6{
  position: absolute;
  right: 0%;
  top: 595px;
}

/****** BODY ******/

.homepage{
  background-image: url("../images/homepage.jpg");
  background-size: cover;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 5351px;
}
.constellation_left{
 position: absolute;
 left: -15px;
 top: 2370px;
}
.constellation_right{
  position: absolute;
  right: 0px;
  top: 980px;
}

/* PRE-FOOTER + FOOTER */

.prefooter_headline{
  position: absolute;
  left: 130px;
  top: 500px;
  /*padding: 500px 0px 0px 130px;*/
}
.footer{
  background-image: url("../images/footer.jpg");
  background-size: cover;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 573px;
}

/****** HIDDEN MENU ******/

.mainmenu{
    width: 0;
    position: fixed;
    z-index: 1;
    background: linear-gradient(rgba(0,97,155,1), rgba(0,50,98,1) 100%);
    top: 0;
    left: 0;
    height: 100%;
    overflow-x: hidden;
    transition: 0.35s;
}
.menu1{
  position: absolute;
  left: 6%;
  top: 230px;
  display: none;
}
.menu2{
  position: absolute;
  left: 39%;
  top: 90px;
  display: none;
}
.menu3{
  position: absolute;
  left: 72%;
  top: 230px;
  display: none;
}

/****** PARALLAX STUFF ******/

.parallax {
  position: relative;
  background-attachment: fixed;
  background-position: center 0;
  background-repeat: no-repeat;
  background-size: cover;
  /**
   * Default height
   */
  height: 100%;
}

.toolarge{
  text-align: center;
  margin-top: 50px;
  display: none;
}
.too-small{
  text-align: center;
  margin-top: 50px;
  display: none;
}

/****** MEDIA QUERIES ******/

@media screen and (min-width: 1500px) {

  .parallax {
      display: none;
  }
  .homepage {
      display: none;
  }
  .footer {
      display: none;
  }
  .too-small{
    display: none;
  }
  .toolarge{
    display: block;
  }
}


@media screen and (min-width: 1220px) and (max-width: 1500px) {
  .too-small{
    display: none;
  }
  .toolarge{
    display: none;
  }
}


@media screen and (max-width: 1220px) {
  .parallax {
      display: none;
  }
  .homepage {
      display: none;
  }
  .footer {
      display: none;
  }
  .too-small{
    display: block;
  }
  .toolarge{
    display: none;
  }
}